<!-- FEATURED -->
<header *ngIf="(content !== false && bannerImage !== false)" [@fadeInEffect] appJarallax class="section banner-lg d-flex align-items-center bg-image bg-parallax has-circle mb-4"
        [ngStyle]="{'background-image': 'url(' + bannerImage + ')'}">
  <div class="container text-center">
  	<div class="circle-container">
		<span class="circle"></span>
    	<h1 *ngIf="content['fields']['title']" class="">{{content['fields']['title']}}</h1>
    	<div class="container-cover text-center m-auto">
    	<p *ngIf="content['fields']['subtitle']" class="lead">{{content['fields']['subtitle']}}</p>
  		</div>
  	</div>
  </div>
</header>
